<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head");%>
  </head>
  <body style="margin: 3%; background-color: black">
    <h1 style="color: white">Horizontally flip online videos</h1>
    <p style="color: white">
      Simply change the url from "youtube" to "youtubeflp"
    </p>
  </body>
</html>
